/* -------------------框架--------------- */

/* 系统好像自带了
 * @import url('../js/font-awesome.css');  */
/* ---------------------------------------*/

@import url('custom/icons.css');        /* 各类图标 */
/* TODO 未加载完时遮罩 */
/* @import url('custom/loading.css'); */

@import url('custom/thoughts.css');

@import url('custom/mark.css');

:root {
/*
  --h1-color: brown;
  --h2-color: #226A98;
  --h3-color: #5F87D7;
  --h4-color: #866FAB;
  --h5-color: #5F87D7;
  --h6-color: #0F7961;
*/

  --h1-color: rgba(0, 0, 0, 0.90);
  --h2-color: rgba(0, 0, 0, 0.86);
  --h3-color: rgba(0, 0, 0, 0.82);
  --h4-color: rgba(0, 0, 0, 0.79);
  --h5-color: rgba(0, 0, 0, 0.77);
  --h6-color: rgba(0, 0, 0, 0.75);

  --h1-size: 2.2rem;
  --h2-size: 1.9rem;
  --h3-size: 1.6rem;
  --h4-size: 1.4rem;
  --h5-size: 1.2rem;
  --h6-size: 1.1rem;
  
  /*
       --sidebar-background: linear-gradient(to right, #ddd, #eee);
   */
   --sidebar-color: currentColor;

}

a, 
a:link,
a:visited,
a:hover,
a:active,
a:focus
{
  text-decoration: none;
  color: inherit;
}


@font-face{
    font-family: my-han-serif-sc;
    src: url("../fonts/SiYuanSongTiRegular/SimplifiedChinese/SourceHanSerifSC-Regular.otf");
    font-weight: normal;
    /*font-style: normal;*/
}

@font-face{
    font-family: my-han-serif-sc;
    src: url("../fonts/SiYuanSongTiRegular/SimplifiedChinese/SourceHanSerifSC-SemiBold.otf");
    font-weight: bold;
    /*font-style: normal;*/
}


body {
    word-break: break-all;
    font-family: my-han-serif-sc, serif, sans-serif;
    font-size: 1rem;
    
	/*
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
	*/
}


.large {
	font-size: large;
}

.medium {
	font-size: medium;
}

.x-large {
	font-size: x-large;
}

.bold {
	font-weight: bold;
}


section {
    /*---- 加载过程中，页面不显示,
     * F5 刷新页面时有效----*/
    display: none;
}

.sidebar {
    background-image: var(--sidebar-background);
}

.sidebar-toggle {
    background-color: rgba(224, 224, 224, 0.7);
}

.sidebar-toggle {
    padding: 0.5rem !important;
}


.sidebar-toggle span{
    background-color: var(--sidebar-color);
}

.search input {
    background-image: var(--sidebar-background);
    border: 0 solid transparent !important;
}

h1 .anchor span {
    font-size: var(--h1-size);
    color: var(--h1-color);
}

h2 .anchor span {
    font-size: var(--h2-size);
    color: var(--h2-color);
}

h3 .anchor span {
    font-size: var(--h3-size);
    color: var(--h3-color);
}

h4 .anchor span {
    font-size: var(--h4-size);
    color: var(--h4-color);
}

h5 .anchor span {
    font-size: var(--h5-size);
    color: var(--h5-color);
}

h6 .anchor span {
    font-size: var(--h6-size);
    color: var(--h6-color);
}

/* 单/复选框 */
input[type="checkbox"] + label::before {  
    content: '\a0'; /* 不换行空格 */
    display: inline-block;  
    vertical-align: .2em; 
    width: .8em; 
    height: .8em; 
    margin-right: .2em;  
    border-radius: .2em;  
    background: silver; 
    text-indent: .15em;  
    line-height: .65; 
}

input[type="checkbox"]:checked + label::before { 
    content: '\2713'; /* 勾 */ 
    background: yellowgreen; 
}

/* 隐藏默认复选框 */
input[type="checkbox"] {  
    position: absolute; 
    clip: rect(0,0,0,0); 
}

input[type="checkbox"]:focus + label::before {  
    box-shadow: 0 0 .1em .1em #58a; 
} 

input[type="checkbox"]:disabled + label::before { 
    background: gray;  
    box-shadow: none;  
    color: #555; 
}


/* --------- 代码区 ----------*/
.markdown-section pre {
}
.markdown-section pre > code {
	border-re
    font-family: monospace;
}
.markdown-section a {
    color: darkslategrey;
    font-weight: bolder;
}
.markdown-section blockquote {
    border-left: 3px solid grey;
}
.markdown-section table tr{
    background-color: white;
}
.markdown-section table th{
    background-color: lightblue;
}

/* --------- 标记区 --------*/
.myImportant,
.markdown-section code {
    color: #222;
    background-color: #bbb;
}
 
/* ---------  左侧文件树 ---------------*/


@keyframes name-hover {
    from {color: currentColor;}
    to {color: cadetblue;}
}

.sidebar-nav > .book-home {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid #cec9c9;
  padding-bottom: 1rem;
}

.sidebar-nav > .book-home > a[href="#"] {
  display: block;
  padding: 0.5rem 0;
}

.sidebar-nav {
    color: var(--sidebar-color) !important;
}

.sidebar-nav a {
    text-decoration: none;
}

.sidebar-nav .name {
    font-size: 1.7rem;
    color: inherit;
}

.sidebar-nav .name i{
    font-size: inherit;
    color: inherit;
}

.sidebar-nav .name-sub{
    font-size: 1.3rem;
    display: block;
    color: inherit;
}


.sidebar-nav .book-list {
    margin-left: 1rem;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.sidebar-nav .book-list-sub1 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.sidebar-nav .book-list-sub2 {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.sidebar-nav .book-list-sub3 {
    margin-left: 1rem;
    font-size: 1rem;
}

.sidebar-nav .name a,
.sidebar-nav .book-list a,
.sidebar-nav .book-list-sub1 a,
.sidebar-nav .book-list-sub2 a,
.sidebar-nav .book-list-sub3 a {
    color: currentColor;
}

.sidebar-nav .book-list i {
    font-size: 2rem;
}

.sidebar-nav .book-list-sub1 i {
    font-size: 1.5rem;
}

.sidebar-nav .book-list-sub2 i {
    font-size: 1.2rem;
}

.sidebar-nav .book-list-sub3 i {
    font-size: 1rem;
}


.sidebar-nav .alive:hover {
    animation-name: name-hover;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.sidebar-nav .book-list,
.sidebar-nav .book-list-sub1,
.sidebar-nav .book-list-sub2,
.sidebar-nav .book-list-sub3 {
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.to-active {
    background: #ccc;
    color: black;
    border-right: 3px solid;

}    
/*  --------------------------------*/

.hidden {
    display: none;
}
/*  --------------------------------*/

.header5 {
    font-size: var(--h5-size);
    color: var(--h5-color);
    font-weight: bold;
}

.header5::before {
    content: "ღ \00A0";
}







/*  --------------------------------*/

.myColorDot {
  padding: 0 0.6rem;
  border-radius: 0.25rem;
  margin: 0 0.2rem;
  border: 1px solid #b0a0a0;
  font-size: 0.8rem;
}


@media screen and (min-width: 900px) {
    .myGrid {
      display: grid;
      margin-bottom: 1.5rem;
      grid-column-gap:2rem;
      grid-template-columns: 30% 70%;
    }
    .s3-7 {
       grid-template-columns: 30% 70%;
    }
    .s4-6 {
       grid-template-columns: 40% 60%;
    }
    .s5-5 {
       grid-template-columns: 50% 50%;
    }
    .s6-4 {
       grid-template-columns: 60% 40%;
    }
    .s7-3 {
       grid-template-columns: 70% 30%;
    }
}

/* --- 内容折叠区域   ---*/

.block-number::before {
    content: "第 ";
}

.block-number::after {
    content: " 章: ";
}

h1.header-part {
    font-size: var(--h1-size);
    color: var(--h1-color);
    margin-top: 2rem;
}

div.collapse {
    border: 1px solid #eee;
    margin: 0.6rem  -1.1rem;
    display: flex;
    background-image: linear-gradient(#ededed, #999);
    border-radius: 0 5rem 5rem 0;
}


div.collapse button {
    font-size: 1.5rem;
    border: none;
    color: var(--h2-color);
    background-image: linear-gradient(#f8f8f8, #bbb);
}

h2.section-title {
    font-size: var(--h2-size);
    margin: auto 10px;
    color: var(--h2-color);
}

h3.section-title {
    font-size: var(--h3-size);
    margin: auto 10px;
    color: var(--h3-color);
}

h4.autosort {
    color: #866FAB;
}

.data-section {
    padding: 0 1rem;
    margin: 0.2rem 0;
}

.data-section .toHide {
    border: none;
    width: 100%;
    background-image: linear-gradient(white, grey);
    color: #1b1d1d;
    border-radius: 1rem;
    padding-top: 6px;
    font-weight: bolder;
}


/* --- 标题编号   ---*/
h3.auto-sort, h3.auto-sort-sub {
    font-size: var(--h3-size);
    color: var(--h3-color);
}

h4.auto-sort-sub1 {
    font-size: var(--h4-size);
    color: var(--h4-color);
}

h5.auto-sort-sub2 {
    font-size: var(--h5-size);
    color: var(--h5-color);
}

h6.auto-sort-sub3 {
    font-size: var(--h6-size);
    color: var(--h6-color);
}

/* ------- 右侧导航栏 -------- */
#ext-nav > .nav {
    background-image: radial-gradient(#aaa, transparent);
    position: fixed;
    padding: 10% 0;
    width: 0;
    height: 80%;
    top: 2rem;
    right: 0;
    display: block;
    z-index: 0;
}

.nav-hover,
.nav-active {
   animation-name: nav-active;
   animation-duration: 1s;
   animation-direction: alternate;
   width: 3rem !important;
}

#ext-nav > .nav:hover {

}

.nav-unhover,
.nav-unactive {
   animation-name: nav-unactive;
   animation-duration: 1s;
   animation-direction: alternate;
   width: 0 !important;
}

@keyframes nav-active {
    from {width: 0;}
    to {width: 3rem;}
}

@keyframes nav-unactive {
    from {width: 3rem;}
    to {width: 0;}
}

.nav > .nav-button {
    margin-bottom: 1.3rem;
}

.nav-icon {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.nav-icon:hover {
    padding: 0.3rem;
    margin-left: 0.3rem;
    color: #ddd;
    background: #222;
    border-radius: 50%;
    cursor: pointer;
}

/* --------- 目录 ------------*/
#ext-nav > .contents {
    background-color: #f8f8f8;
    position: fixed;
    max-width: 320px;
    max-height: 80%;
    right: 3rem;
    top: 2rem;
    overflow: auto;
    display: none;
    z-index: 0;

}

ul.contents-list {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}


li.content-H2, 
li.content-H3, 
li.content-H4, 
li.content-H5, 
li.content-H6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.content-H2 {
    margin-left: 0;
    margin-top: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
}

li.content-H3 {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 0.95rem;
}

li.content-H4 {
    margin-left: 2rem;
    margin-top: 0.1rem;
    font-size: 0.9rem;
}

li.content-H5 {
    margin-left: 3rem;
    margin-top: 0.05rem;
    font-size: 0.85rem;
}

li.content-H6 {
    margin-left: 4rem;
    margin-top: 0.02rem;
    font-size: 0.8rem;
}

li.content-H2:hover,
li.content-H3:hover,
li.content-H4:hover,
li.content-H5:hover,
li.content-H6:hover {
    border-bottom:1px solid;
}

/* --------- 右下角按钮 ---------- */
.right-bottom-button {
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    z-index: -1;
}


.circle-button .icon-circle {
    color: #bbb;
    padding: 1px;
    border: 2px solid #222;
    border-radius: 50%;
    font-size: 1.7rem !important;
}

.circle-button .icon-circle:hover {
    border: 2px solid #bbb;
    color: #222;
    border-radius: 50%;
}

/* ------------ 书籍列表 ------------*/

.bookList {
  font-size: 1.3rem;
  color: #204779;
}

.bookList li {
  margin-left: 2rem;
}

.bookList a {
  color: unset;
  text-decoration: unset;
}

.bookList img {
  width: 0.6rem;
}

.bookList li {
  list-style-type: hebrew;
  padding-top: 0.4rem;
}

.book-pdf {
  color: brown;
  font-size: x-small;
}


/* ------------ 顶部导航 ------------*/

#top-nav {
  position: fixed;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  background: #00000021;
  text-align: center;
}

#top-nav > .list-book{
  display: inline;
  position: fixed;
}

#top-nav > .volumn {
  display: inline;
  padding: 0 2rem 0 1rem;
} 

.volumn > select {
  appearance: none;
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  background: inherit;
  border: 1px solid currentColor;
  border-radius: 20px;
}

#top-nav  .list-book1 {
  display: inline-table;
  text-align: left;
  padding: 0 2rem 0 1rem;
} 

#top-nav .list-book1 > span{
  border: 1px currentColor solid;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

#top-nav span {
  cursor: pointer;
}

#top-nav span:hover {
  background: green;
}



#top-nav .list-book2 {
    margin: 0 0 0 0.5rem;
    font-size: 1.2rem;
  /*display: none;*/
}

#top-nav .list-book3 {
    margin: 0 0 0 1.5rem;
    font-size: 1rem;
  /*display: none;*/
}


#top-nav .iconfont {
  font-size: 1.2rem;
  padding: 0 0.3rem 0 0;
}

#top-nav .iconfont.icon-dir {
  font-size: 1.4rem;
}





