/* -------------------框架--------------- */

/* 系统好像自带了
 * @import url('../js/font-awesome.css');  */
/* ---------------------------------------*/

@import url('icons.css');        /* 各种按钮 */
/* TODO 未加载完时遮罩 */
/* @import url('loading.css'); */

@import url('thoughts.css');


:root {
/*
  --h1-color: brown;
  --h2-color: #226A98;
  --h3-color: #5F87D7;
  --h4-color: #866FAB;
  --h5-color: #5F87D7;
  --h6-color: #0F7961;
*/

  --h1-color: rgba(0, 0, 0, 0.90);
  --h2-color: rgba(0, 0, 0, 0.86);
  --h3-color: rgba(0, 0, 0, 0.82);
  --h4-color: rgba(0, 0, 0, 0.79);
  --h5-color: rgba(0, 0, 0, 0.77);
  --h6-color: rgba(0, 0, 0, 0.75);

  --h1-size: 2.2rem;
  --h2-size: 1.9rem;
  --h3-size: 1.6rem;
  --h4-size: 1.4rem;
  --h5-size: 1.2rem;
  --h6-size: 1.1rem;
  
  --sidebar-background: linear-gradient(to right, #ddd, #eee);
  --sidebar-color: currentColor;

}

body {
    word-break: break-all;
    font-family: serif, sans-serif;
    background-image: linear-gradient(to right, #eee, #ddd, #eee);
}

section {
    /*---- 加载过程中，页面不显示,
     * F5 刷新页面时有效----*/
    display: none;
}

.sidebar {
    background-image: var(--sidebar-background);
}

.sidebar-toggle {
    background-color: rgba(224, 224, 224, 0.7);
}

.sidebar-toggle {
    padding: 0.5rem !important;
}


.sidebar-toggle span{
    background-color: var(--sidebar-color);
}

.search input {
    background-image: var(--sidebar-background);
    border: 0 solid transparent !important;
}

h1 .anchor span {
    font-size: var(--h1-size);
    color: var(--h1-color);
}

h2 .anchor span {
    font-size: var(--h2-size);
    color: var(--h2-color);
}

h3 .anchor span {
    font-size: var(--h3-size);
    color: var(--h3-color);
}

h4 .anchor span {
    font-size: var(--h4-size);
    color: var(--h4-color);
}

h5 .anchor span {
    font-size: var(--h5-size);
    color: var(--h5-color);
}

h6 .anchor span {
    font-size: var(--h6-size);
    color: var(--h6-color);
}


/* --------- 代码区 ----------*/
.markdown-section pre {
    background-image: linear-gradient(#f8f8f8, #bbb);
    border-radius: 1rem;
}
.markdown-section pre > code {
    background-image: linear-gradient(#f8f8f8, #bbb);
    font-family: monospace;
}
.markdown-section a {
    color: darkslategrey;
    font-weight: bolder;
}
.markdown-section blockquote {
    border-left: 3px solid grey;
}
.markdown-section table tr{
    background-color: white;
}
.markdown-section table th{
    background-color: lightblue;
}

/* --------- `标记区` --------*/
.myImportant,
.markdown-section code {
    color: #222;
    background-color: #bbb;
}
 
/* ---------  文件树 ---------------*/


@keyframes name-hover {
    from {color: currentColor;}
    to {color: cadetblue;}
}


.sidebar-nav {
    color: var(--sidebar-color) !important;
}

.sidebar-nav a {
    text-decoration: none;
}

.sidebar-nav .name {
    font-size: 1.7rem;
    color: currentColor;
}

.sidebar-nav .name i{
    font-size: 1.7rem;
    color: currentColor;
}

.sidebar-nav .name-sub{
    font-size: 1.3rem;
    display: block;
    color: currentColor;
}


.sidebar-nav .book-list {
    margin-left: 1rem;
    font-size: 2rem;
    padding: 0.5rem 0;
}

.sidebar-nav .book-list-sub1 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.sidebar-nav .book-list-sub2 {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.sidebar-nav .book-list-sub3 {
    margin-left: 1rem;
    font-size: 1rem;
}

.sidebar-nav .name a,
.sidebar-nav .book-list a,
.sidebar-nav .book-list-sub1 a,
.sidebar-nav .book-list-sub2 a,
.sidebar-nav .book-list-sub3 a {
    color: currentColor;
}

.sidebar-nav .book-list i {
    font-size: 2rem;
}

.sidebar-nav .book-list-sub1 i {
    font-size: 1.5rem;
}

.sidebar-nav .book-list-sub2 i {
    font-size: 1.2rem;
}

.sidebar-nav .book-list-sub3 i {
    font-size: 1rem;
}


.sidebar-nav .alive:hover {
    animation-name: name-hover;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.sidebar-nav .book-list,
.sidebar-nav .book-list-sub1,
.sidebar-nav .book-list-sub2,
.sidebar-nav .book-list-sub3 {
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.to-active {
    background: #ccc;
    color: black;
    border-right: 3px solid;

}    
/*  --------------------------------*/

.hidden {
    display: none;
}

/*  --------------------------------*/
.myImage {
    text-align: center;
}

.myFormula {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem 0;
}

.myProblem{
    margin-top: 1.7rem;
    margin-bottom: 0.7rem;
    box-shadow: 4px 2px 5px 3px;
    padding: 0.5rem;
}

.no-shadow {
    box-shadow: unset;
}

.myQuestion{
    margin-bottom: 0.8rem;
}

.toggleAnswer {
    margin-left: 0.7rem;
}


.imageTitle {
    font-size: 0.8rem;
    margin-top: 0;
    display: block;
}

.myNote, .myWarning, .myTip, .myExample {
  padding: 0.2rem 1rem;   
  border-left: 3px solid;
}

.myNote .note,
.myWarning .warning,
.myTip .tip {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.myNote {
    border-left-color: green;
}

.myNote .note{
    color: green;
}


.myWarning {
    border-left-color: #dc3545;
}

.myWarning .warning{
    color: #dc3545;
}

.myTip {
    border-left-color: #17a2b8;
}

.myTip .tip{
    color: #17a2b8;
}

.myExample {
  border: 1px solid currentColor;
}

.myAnnotate {
    cursor: help;
    padding-bottom: 1px;
    border-bottom: 1px dotted;
    margin: 0 0.25rem;
}

.annotate {
    background-color: whitesmoke;
    position: fixed;
    padding: 0.6rem;
    min-width: 20%;
    max-width: 50%;
    max-height: 50%;
    overflow: auto;
    border: 2px solid;
    border-radius: 1rem;
    z-index: 100;
}

.myAnswer {
   /* border-style: inset;*/
    padding: 1rem;
    margin: 0.5rem;
}

.answer-button {
    background-image: linear-gradient(to bottom right, white, #ccc );
    font-size: 1rem;
    padding: 0.2rem 1rem;
}

.answer-button:hover {
    background: #ccc;
}

/* --- 内容折叠区域   ---*/
h1.header-part {
    font-size: var(--h1-size);
    color: var(--h1-color);
    margin-top: 2rem;
}

div.collapse {
    border: 1px solid #eee;
    margin: 0.6rem  -1.1rem;
    display: flex;
    background-image: linear-gradient(#ededed, #999);
    border-radius: 0 5rem 5rem 0;
}


div.collapse button {
    font-size: 1.5rem;
    border: none;
    color: var(--h2-color);
    background-image: linear-gradient(#f8f8f8, #bbb);
}

h2.section-title {
    font-size: var(--h2-size);
    margin: auto 10px;
    color: var(--h2-color);
}

h3.section-title {
    font-size: var(--h3-size);
    margin: auto 10px;
    color: var(--h3-color);
}

h4.autosort {
    color: #866FAB;
}

.data-section {
    padding: 0 1rem;
    margin: 0.2rem 0;
}

.data-section .toHide {
    border: none;
    width: 100%;
    background-image: linear-gradient(white, grey);
    color: #1b1d1d;
    border-radius: 1rem;
    padding-top: 6px;
    font-weight: bolder;
}


/* --- 标题编号   ---*/
h3.auto-sort, h3.auto-sort-sub {
    font-size: var(--h3-size);
    color: var(--h3-color);
}

h4.auto-sort-sub1 {
    font-size: var(--h4-size);
    color: var(--h4-color);
}

h5.auto-sort-sub2 {
    font-size: var(--h5-size);
    color: var(--h5-color);
}

h6.auto-sort-sub3 {
    font-size: var(--h6-size);
    color: var(--h6-color);
}

/* ------- 右侧导航栏 -------- */
#ext-nav > .nav {
    background-image: radial-gradient(#aaa, transparent);
    position: fixed;
    padding: 10% 0;
    width: 0;
    height: 80%;
    top: 2rem;
    right: 0;
    display: block;
    z-index: 0;
}

.nav-hover,
.nav-active {
   animation-name: nav-active;
   animation-duration: 1s;
   animation-direction: alternate;
   width: 3rem !important;
}

#ext-nav > .nav:hover {

}

.nav-unhover,
.nav-unactive {
   animation-name: nav-unactive;
   animation-duration: 1s;
   animation-direction: alternate;
   width: 0 !important;
}

@keyframes nav-active {
    from {width: 0;}
    to {width: 3rem;}
}

@keyframes nav-unactive {
    from {width: 3rem;}
    to {width: 0;}
}

.nav > .nav-button {
    margin-bottom: 1.3rem;
}

.nav-icon {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.nav-icon:hover {
    padding: 0.3rem;
    margin-left: 0.3rem;
    color: #ddd;
    background: #222;
    border-radius: 50%;
    cursor: pointer;
}

/* --------- 目录 ------------*/
#ext-nav > .contents {
    background-color: #f8f8f8;
    position: fixed;
    max-width: 320px;
    max-height: 80%;
    right: 3rem;
    top: 2rem;
    overflow: auto;
    display: none;
    z-index: 0;

}

ul.contents-list {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}


li.content-H2, 
li.content-H3, 
li.content-H4, 
li.content-H5, 
li.content-H6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li.content-H2 {
    margin-left: 0;
    margin-top: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
}

li.content-H3 {
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 0.95rem;
}

li.content-H4 {
    margin-left: 2rem;
    margin-top: 0.1rem;
    font-size: 0.9rem;
}

li.content-H5 {
    margin-left: 3rem;
    margin-top: 0.05rem;
    font-size: 0.85rem;
}

li.content-H6 {
    margin-left: 4rem;
    margin-top: 0.02rem;
    font-size: 0.8rem;
}

li.content-H2:hover,
li.content-H3:hover,
li.content-H4:hover,
li.content-H5:hover,
li.content-H6:hover {
    border-bottom:1px solid;
}

/* --------- 右下角按钮 ---------- */
.right-bottom-button {
    position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    z-index: -1;
}


.circle-button .icon-circle {
    color: #bbb;
    padding: 1px;
    border: 2px solid #222;
    border-radius: 50%;
    font-size: 1.7rem !important;
}

.circle-button .icon-circle:hover {
    border: 2px solid #bbb;
    color: #222;
    border-radius: 50%;
}

/* ------------ 书籍列表 ------------*/
.bookList {
  font-size: 1.3rem;
  color: #204779;
}

.bookList li {
  margin-left: 2rem;
}

.bookList a {
  color: unset;
  text-decoration: unset;
}

.bookList img {
  width: 0.6rem;
}

.bookList li {
  list-style-type: hebrew;
  padding-top: 0.4rem;
}

.book-pdf {
  color: brown;
  font-size: x-small;
}





