/* ------------------------------------------------------------*/

:root {
  --h1-color: rgba(0, 0, 0, 0.90);
  --h2-color: rgba(0, 0, 0, 0.86);
  --h3-color: rgba(0, 0, 0, 0.82);
  --h4-color: rgba(0, 0, 0, 0.79);
  --h5-color: rgba(0, 0, 0, 0.77);
  --h6-color: rgba(0, 0, 0, 0.75);

  --h1-size: 2.2rem;
  --h2-size: 1.9rem;
  --h3-size: 1.6rem;
  --h4-size: 1.4rem;
  --h5-size: 1.2rem;
  --h6-size: 1.1rem;
  
  --body-font-color: rgba(0, 0, 0, 1);
  --body-background-image: linear-gradient(to right, white, white, white);

  --sidebar-color: currentColor;
  --sidebar-background: rgba(255, 255, 255, 1);
  --sidebar-toggle-background-color: rgba(224, 224, 224, 0.7);

  --collapse-background-image: linear-gradient(rgba(237, 237, 237, 1), rgba(153, 153, 153, 1));
  --collapse-border: 1px solid rgba(238, 238, 238, 1);
  --collapse-button-background-image: linear-gradient(rgba(248, 248, 248, 1), rgba(187, 187, 187, 1));

  --data-section-toHide-background-image: linear-gradient(white, grey);
  --data-section-toHide-font-size: rgba(25, 25, 25, 1);

  --markdown-section-font-color:  rgba(35, 70, 125, 0.9);
  --bookList-color: rgba(35, 70, 125, 1);




}

